{{!-- 
  #Citation for the following code:
  # Date: 5/07/2025
  # scope: frontend views using handlebars Templating
  # originality: Adapted from starter code Building our webpage with Handlebars Templating Engine.
  # Exploration - Web Application Technology
  # Source URL: https://canvas.oregonstate.edu/courses/1999601/pages/exploration-web-application-technology-2?module_item_id=25352948 --}}

<h1>Home page</h1>
<div class="homepageDescription">
    <h2>Heritage Gaming Card Shop Trading Card Database </h2>
    <p>Heritage Gaming Card Shop has over 6,000 orders annually, which consist of pokemon cards. 
      This local card shop is constantly growing with new customers every week along with new card sets 
      releasing every month. Card enthusiasts return to the shop regularly to buy or browse through the store's products. 
      The cards shop offers a variety of cards which range from sets, rarity, condition type and name. The card shop can not 
      keep up with manually tracking inventory and a database driven website would make this process more efficient. With the number of 
      around 500 unique cards in their inventory each month, this website would track the inventory by searching card names or sets which will 
      help to track the orders of cards to customers. This would really help with the organization of the card shop and decrease manual errors. </p>
    <h3>Group: 65</h3>
    <p>Team Members:Sienna Raigoza and Ohm Patel
</p>
</div>

<h2>RESET</h2>
<p>Press this button to reset the database
</p>
<form method='POST' action='/reset-database'>
       <button type='submit' style ='
        margin-left: 50px; ' id = 'reset' >
        Reset 
        </button>
</form>