{{!-- 
  #Citation for the following code:
  # Date: 5/07/2025
  # scope: frontend views using handlebars Templating
  # originality: Adapted from starter code Building our webpage with Handlebars Templating Engine.
  # Exploration - Web Application Technology
  # Source URL: https://canvas.oregonstate.edu/courses/1999601/pages/exploration-web-application-technology-2?module_item_id=25352948 --}}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>CS340 - My Project</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/pokemon_cards">Pokemon Cards</a>
        <a href = "/sets">Sets</a>
        <a href="/orders">Orders</a>
        <a href = "/customers">Customers</a>
        <a href= "/orders_cards"> Order Details</a>
    </nav>

    {{{body}}}

</body>
</html>